*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#090b18;
    overflow:hidden;
    perspective:1200px;
}

/* Blender Style Gradient Balls */

body::before{
    content:"";
    position:absolute;
    width:500px;
    height:500px;
    background:radial-gradient(circle,#ff4d6d,transparent 70%);
    top:-150px;
    left:-150px;
    filter:blur(80px);
    animation:blob1 10s infinite alternate;
}

body::after{
    content:"";
    position:absolute;
    width:500px;
    height:500px;
    background:radial-gradient(circle,#00e5ff,transparent 70%);
    bottom:-150px;
    right:-150px;
    filter:blur(80px);
    animation:blob2 10s infinite alternate;
}

@keyframes blob1{
    to{
        transform:translate(200px,120px) scale(1.3);
    }
}

@keyframes blob2{
    to{
        transform:translate(-200px,-120px) scale(1.3);
    }
}

/* Glass Card */

form{
    width:450px;
    padding:40px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(25px);
    border-radius:30px;
    border:1px solid rgba(255,255,255,.2);
    box-shadow:0 20px 50px rgba(0,0,0,.5);
    transform-style:preserve-3d;
    animation:rotateCard 8s ease-in-out infinite;
}

@keyframes rotateCard{

0%{
transform:rotateX(0deg) rotateY(0deg);
}

25%{
transform:rotateX(8deg) rotateY(-8deg);
}

50%{
transform:rotateX(-8deg) rotateY(8deg);
}

75%{
transform:rotateX(5deg) rotateY(-5deg);
}

100%{
transform:rotateX(0deg) rotateY(0deg);
}

}

h1{
    text-align:center;
    color:white;
    margin-bottom:25px;
    text-shadow:0 0 15px cyan;
}

label{
    color:white;
    font-size:18px;
    display:block;
    margin-bottom:10px;
}

input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:15px;
    background:rgba(255,255,255,.1);
    color:white;
    outline:none;
    font-size:17px;
    margin-bottom:20px;
}

input:focus{
    box-shadow:0 0 20px cyan;
    transform:translateZ(20px);
}

button{
    width:100%;
    padding:15px;
    margin-top:12px;
    border:none;
    border-radius:15px;
    color:white;
    font-size:17px;
    cursor:pointer;
    background:linear-gradient(90deg,#00e5ff,#8b5cf6,#ff006e);
    background-size:300%;
    animation:gradient 3s linear infinite;
}

@keyframes gradient{
    100%{
        background-position:300%;
    }
}

button:hover{
    transform:scale(1.05);
    box-shadow:0 0 25px cyan;
}

#result{
    margin-top:20px;
    padding:15px;
    border-radius:15px;
    background:rgba(255,255,255,.08);
    color:#00ff99;
    text-align:center;
    font-size:22px;
    font-weight:bold;
    animation:resultGlow 1s infinite alternate;
}

@keyframes resultGlow{

from{
box-shadow:0 0 10px #00ff99;
}

to{
box-shadow:0 0 30px #00ff99;
}

}