
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(-45deg,#0f2027,#203a43,#2c5364,#4e54c8);
    background-size: 400% 400%;
    animation: bgMove 10s ease infinite;
}

@keyframes bgMove{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}

h2{
    color: white;
    margin-bottom: 20px;
    font-size: 38px;
    text-shadow: 0 0 15px cyan;
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}

input{
    width: 320px;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 18px;

    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    color: white;

    transition: 0.5s;
    transform-style: preserve-3d;
}

input::placeholder{
    color: #ddd;
}

input:hover{
    transform: perspective(800px) rotateX(8deg) rotateY(-8deg) scale(1.05);
    box-shadow: 0 20px 30px rgba(0,255,255,.4);
}

input:focus{
    transform: perspective(800px) rotateX(-8deg) rotateY(8deg) scale(1.05);
    box-shadow: 0 0 25px cyan;
}

button{
    margin-top: 20px;
    padding: 15px 50px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;

    color: white;
    background: linear-gradient(45deg,#00c6ff,#0072ff);

    transition: .5s;
    transform-style: preserve-3d;
}

button:hover{
    transform: perspective(800px) rotateX(15deg) rotateY(-15deg) translateY(-8px);
    box-shadow: 0 20px 40px rgba(0,114,255,.6);
}

button:active{
    transform: scale(.95);
}

#result{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 15px lime;

    animation: glow 1.5s infinite alternate;
}

@keyframes glow{
    from{
        text-shadow: 0 0 10px lime;
    }
    to{
        text-shadow: 0 0 25px lime,0 0 40px green;
    }
}
